In [27]:
import pandas as pd
import numpy as np

matriz = np.array([[1, 'F', 3], [4, 'M', 6], [4, np.nan, 6], [4, 'F', 6], [4, np.nan, 6], [4, 'M', 6]])
nomes_cols = ['C1', 'C2', 'C3']

df = pd.DataFrame(matriz, columns=nomes_cols)
pd.get_dummies(df, columns=['C2'])

  C1 C3  C2_F  C2_M  C2_nan
0  1  3     1     0       0
1  4  6     0     1       0
2  4  6     0     0       1
3  4  6     1     0       0
4  4  6     0     0       1
5  4  6     0     1       0

In [35]:
matriz = pd.Series(df['C2'])

pd.get_dummies(matriz)

   F  M  nan
0  1  0    0
1  0  1    0
2  0  0    1
3  1  0    0
4  0  0    1
5  0  1    0